body{
    background-color: rgb(204, 245, 164);
}

.h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

#p1{
    font-size: 30px;
}

#p2{
    font-size: 20px;
}

.links{
    text-align: center;
}

#button{
    background-color: chartreuse;
    color: rgb(139, 0, 127);
    font-size: larger;
}

#button :hover{
    color: rgb(250, 242, 223);
    background-color: rgb(125, 8, 146);
    font-size: 25px;
}

